
h1{
    text-align: center;
    color:blue ;
}

ul{
  color:maroon
}

.ul1{
    list-style-image:url(http://picmobi.com/pictures/128x128/sport/11p1.jpg);
    list-style-position: inside;
}
a:link{
  color:blue;
   border-bottom: 1px dashed #000080;
}
a:visited{
  color:yellow;
   border-bottom: 1px dashed #000080;
}
.a2{
 cursor:progress;
}
